<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travelexperts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ApplicationLayer.AddBookingDetailActivity"></activity>
        <activity android:name=".ApplicationLayer.AddBookingActivity" />
        <activity android:name=".ApplicationLayer.BookingDetailsActivity" />
        <activity android:name=".ApplicationLayer.RegionActivity" />
        <activity android:name=".ApplicationLayer.TripActivity" />
        <activity android:name=".ApplicationLayer.ClassActivity" />
        <activity android:name=".ApplicationLayer.FeeActivity" />
        <activity android:name=".ApplicationLayer.SettingsActivity" />
        <activity android:name=".ApplicationLayer.AboutActivity" />
        <activity android:name=".ApplicationLayer.MiscelaneousActivity" />
        <activity android:name=".ApplicationLayer.ProductActivity" />
        <activity android:name=".ApplicationLayer.PackageActivity" />
        <activity android:name=".ApplicationLayer.BookingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>